@import "tailwindcss";
@font-face {
    font-family: "PublicSans";
    src: url(assets/PublicSans-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Inter";
    src: url(assets/Inter-VariableFont_opsz\,wght.ttf);
}

@theme{
    --font-PublicSans : "PublicSans";
    --font-Inter : "Inter";
    --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(6deg) scale(1);
    }
    50% {
      transform: rotate(18deg) scale(1.1);
    }
  }
}
#productDets {
  position: relative;
  background-image: url(/Abstract.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}

#productDets::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(128, 128, 128, 0.638), rgba(0, 0, 0, 0.838));
  filter: brightness(0.6); 
  backdrop-filter: blur(1px); 
  -webkit-backdrop-filter: blur(1px);
  z-index: -1;
}

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    display: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button
{
display: none;
}

::selection {
    background-color: #049749a3;
    color: white;
}